<%- include('partials/head.ejs') %>

<body>
	
		
<%- include("partials/navbar") %>
	
	<h1>All the cats</h1>
	
	<ul>
		<% for(let cat of cats){ %>
			<li>This cat's name is: <%= cat %></li>
		<% } %>
	</ul>
	
	
</body>
<%- include("partials/footer") %>